
<!-- Footer -->
<div class="w3-container">
  <hr class="w3-border-sunset-orange">
  <p>
    <a href='/contact123'>Contact</a> |
    <a href='/privacy'>Privacy</a> |
    <a href='/terms'>Terms</a>
  <p>&copy; 2024 FirstName LastName</p>
</div>